body {
    font-family: Arial, sans-serif;
    background-color: #eae7dc;
    color: #2e2e2e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('old_woodland.jpg');
    background-size: cover;
}

.navbar {
    position: absolute;
    top: 20px;
    left: 20px;
}

.navbar button {
    background-color: #8d8741;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar button:hover {
    background-color: #6f6a4f;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
}

.left-section {
    margin-right: 30px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.right-section {
    max-width: 600px;
}

h1 {
    color: #3b3a30;
}

p {
    font-size: 1.2em;
}
